.kontener{
    border: 2px solid red;
    border-top: 10px solid rgb(123, 0, 0);
    /*background-image: linear-gradient(to bottom right, rgba(255,0,0,0), rgba(255,0,0,1));*/
    /*background-image: linear-gradient(to bottom right, red, grey);*/
    background-image: linear-gradient(to bottom right, rgba(123,0,0,1), rgba(107,107,107,0));
    border-radius: 25px;
}
.kontener3{
   border: 2px solid white;
   border-top: 10px solid white;
   /*background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(0,65,0,1));*/
   /*background-image: linear-gradient(to bottom right, rgba(255,0,0,0), rgba(0,65,0,1));*/
   background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgba(107,107,107,0));
   color: black;
   
   border-radius: 25px;
}
.udvozollek{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    color: yellow;
    -moz-text-fill-color: white;
 -webkit-text-fill-color:white ;
    -moz-text-stroke-color: black;
 -webkit-text-stroke-color: black;
    -moz-text-stroke-width: 1px;  
 -webkit-text-stroke-width: 1px;
    

}
.kontener2{
    font-family: 'Times New Roman', Times, serif;
 border: 2px solid green;
 border-top: 10px solid darkgreen;
 /*background-image: linear-gradient(to bottom right, rgb(134, 0, 0), grey);*/
 background-image: linear-gradient(to top left, rgba(255,0,0,0), rgba(0,65,0,1));
    border-radius: 25px;
}
.szoveg{
   /*text-align: center;*/
   font-size: 25px;
   color: white;
   font-weight: bold;
   font-family: 'Times New Roman', Times, serif;


}
.hpal_logo {
   border: 6px ridge yellow;
   border-radius: 5px;
   max-width: 20%;
   height: auto;
}

#feher_szoveg{
   font-family: 'Times New Roman', Times, serif;
   font-size: 40px;
   color: white;
   -moz-text-fill-color: white;
-webkit-text-fill-color:white ;
   -moz-text-stroke-color: black;
-webkit-text-stroke-color: black;
   -moz-text-stroke-width: 1px;  
-webkit-text-stroke-width: 1px;


}

.udvozollek2{
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-size: 50px;
   color: yellow;
   -moz-text-fill-color: black;
-webkit-text-fill-color:black ;
   -moz-text-stroke-color: yellow;
-webkit-text-stroke-color: yellow;
   -moz-text-stroke-width: 1px;  
-webkit-text-stroke-width: 1px;
   

}
.tonkok{
   max-width: 45%;
   height: auto;
}
.info{
   max-width: 3%;
   height: auto;
   border-radius: 40px;
}
.info:hover{
   cursor: pointer;
   filter: invert(100%);
}
.gomb{
   transition: transform  0.3s;
}
.gomb:hover{
   transform: scale(1.2);
}
.feher{
   color: white;
   font-size: 20px;
   font-weight: normal;
}

/*-_______________________________________________________________________-*/

#myImg {
   cursor: pointer;
   transition: 0.3s;
 }
 
 #myImg:hover {
   opacity: 0.7;
 }
 
 .modal {
   display: none;
   /* Hidden by default */
   position: fixed;
   /* Stay in place */
   z-index: 1;
   /* Sit on top */
   padding-top: 100px;
   /* Location of the box */
   left: 0;
   top: 0;
   width: 100%;
   /* Full width */
   height: 100%;
   /* Full height */
   overflow: auto;
   /* Enable scroll if needed */
   background-color: rgb(0, 0, 0);
   /* Fallback color */
   background-color: rgba(0, 0, 0, 0.9);
   /* Black w/ opacity */
 }
 
 .modal-content {
   margin: auto;
   display: block;
   width: 80%;
   max-width: 1000px;
 }
 
 #caption {
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
 }
 
 .modal-content,
 #caption {
   animation-name: zoom;
   animation-duration: 0.6s;
 }
 
 @keyframes zoom {
   from {
     transform: scale(0)
   }
   to {
     transform: scale(1)
   }
 }
 
 .close {
   position: absolute;
   top: 15px;
   right: 35px;
   color: #f1f1f1;
   font-size: 40px;
   font-weight: bold;
   transition: 0.3s;
 }
 
 .close:hover,
 .close:focus {
   color: red;
   text-decoration: none;
   cursor: pointer;
 }
 
 @media only screen and (max-width: 700px) {
   .modal-content {
     width: 100%;
   }
 }
 
.sorkizatz {
   text-align: justify;
  text-justify: inter-word;
}



.igazitas{
   width:50px;
   height:50px;
   border: 3px ridge black;
   border-radius: 25px;
   transition: transform  0.3s;
}
.igazitas:hover {
   transform: scale(1.2);
   cursor: pointer;   
}

header {
   position: fixed;
}
