.szoveg{
    /*text-align: center;*/
    font-size: 50px;
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
 
 
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    border: 4px solid mediumblue;
    border-top: 6px solid red;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;

}
.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;


}
.manual-btn{
    border: 2px solid lightskyblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: cyan;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

#radio6:checked ~ .first{
    margin-left: -100%;
}

#radio7:checked ~ .first{
    margin-left: -120%;
}

#radio8:checked ~ .first{
    margin-left: -140%;
}

#radio9:checked ~ .first{
    margin-left: -160%;
}
#radio10:checked ~ .first{
    margin-left: -180%;
}
#radio11:checked ~ .first{
    margin-left: -200%;
}
#radio12:checked ~ .first{
    margin-left: -220%;
}
#radio13:checked ~ .first{
    margin-left: -240%;
}
#radio14:checked ~ .first{
    margin-left: -260%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;

}

.navigation-auto div{
    border: 2px solid lightskyblue;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;

}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: lightskyblue;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: lightskyblue;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: lightskyblue;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: lightskyblue;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background: lightskyblue;
}

#radio6:checked ~ .navigation-auto .auto-btn6{
    background: lightskyblue;
}

#radio7:checked ~ .navigation-auto .auto-btn7{
    background: lightskyblue;
}

#radio8:checked ~ .navigation-auto .auto-btn8{
    background: lightskyblue;
}

#radio9:checked ~ .navigation-auto .auto-btn9{
    background: lightskyblue;
}

#radio10:checked ~ .navigation-auto .auto-btn10{
    background: lightskyblue;
}

#radio11:checked ~ .navigation-auto .auto-btn11{
    background: lightskyblue;
}

#radio12:checked ~ .navigation-auto .auto-btn12{
    background: lightskyblue;
}

#radio13:checked ~ .navigation-auto .auto-btn13{
    background: lightskyblue;
}

#radio14:checked ~ .navigation-auto .auto-btn14{
    background: lightskyblue;
}



.gomb{
    width: 200px;
    margin: 10px;
    padding: 15px;
    background:red;
    text-align: center;
    font-family: Verdana;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000;
    display:inline-block;
    color:cornsilk;
}
.gomb:hover{
    animation: gomb_lecsuszik 4s 1; 
    cursor: pointer;
    filter: invert(100%);
    box-shadow: none;

}

@keyframes gomb_lecsuszik {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(25px);
    }
}

.gomb:active{
  box-shadow: 0px 5px 10px grey;
}

.hpal_logo {
    border: 6px ridge yellow;
    border-radius: 25px;
    max-width: 20%;
    height: 20%;
 }

.kontener{
    border: 4px solid red;
    border-top: 8px solid rgb(175, 0, 0);
    background-color: grey;
    border-radius: 25px;
}

.warcraft{
    -moz-text-fill-color: white;
    -webkit-text-fill-color:white ;
    -moz-text-stroke-color: black;
     -webkit-text-stroke-color: black;
    -moz-text-stroke-width: 1px;  
 -webkit-text-stroke-width: 1px;
 margin: auto;
 border: 4px solid mediumblue;
 border-top: 8px solid rgb(175, 0, 0);
 background-color: grey;
 width: 650px;
border-radius: 25px;
}
.feher{
    color: white;
}
#youtube{
    float:right;
}

.igazitas{
    width:50px;
    height:50px;
    border: 3px ridge black;
    border-radius: 25px;
}
/* kép animáció jobbrol balra */
.eltunes{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: -100000px;
    animation: mymove 4s 1;
    position: fixed;
}

@keyframes mymove {
    0%   {left: 0px;}
    100% {left: -2000px;}
    /*100% {opacity:  0;}*/
}

/* kép animáció jobbrol balra --> vége */


