.gombdoboz{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.fullscreen-bg{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: -100;
  }
  @media screen and (max-width: 800px) {
  .fullscreen-bg{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: -100;
  }
}

.fullscreen-bg-video{
  position: absolute;
  top:50%;
  left:50%;
  width:auto;
  height:auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
/*-_________________________________________________________________-*/
.gomb{
    width: 105%; /*110%;*/
    margin: 10px;
    padding: 15px;
    background: rgb(72, 91, 63);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 16px;*/
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000;
    display:inline-block;
    color:cornsilk;
    transition: transform  0.3s;
    font-weight: bold;
}
.gomb2{
  width: 200px; /*110%;*/
  margin: 10px;
  padding: 15px;
  background: rgb(72, 91, 63);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  /*font-size: 16px;*/
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000;
  display:inline-block;
  color:cornsilk;
  transition: transform  0.3s;
  font-weight: bold;
}

.gomb:hover{
    /*animation: gomb_lecsuszik 4s 1; 
    animation-name: gomb_lecsuszik;
    animation-duration: 4s;  
    animation-fill-mode: forwards;*/
    cursor: pointer;
    filter: invert(100%);
    box-shadow: none;
    transform: scale(1.2);

}
.gomb:active{
  box-shadow: 0px 5px 10px grey;
}

.doboz{
  width: 60%;
  margin: auto;
  padding: 10px;
  background: rgb(72, 91, 63);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-transform: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000;
  color:cornsilk;
  font-weight: bold;
}
.doboz2{
  width: 60%;
  margin: auto;
  padding: 10px;
  background: rgb(72, 91, 63);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-transform: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000;
  color:cornsilk;
  font-weight: bold;
}

.videjo{
  border-radius: 40px;
}

.repa {
  border: 6px ridge rgb(72, 91, 63);
  border-radius: 25px;
  width: 250px;
}


@media (max-width: 768px) 
{
   .doboz{
    font-size: 40px;
   }
   .cumi{
    font-size: 40px;
   }


}


.terkoz{
  padding-top: 30%;
}

@media (max-width: 400px) 
{
 .terkoz{
  padding-top: 100%;
  
 }


}
@media (max-width: 800px) 
{
 .terkoz{
  padding-top: 50%;

 }


}


@media (min-width: 1400px) {

  .eltunes2 {
    display: none;
  }
}
@media (max-width: 1400px) {
  .videjo {
    display: none;
  }
  .eltunes {
    display: none;
  }
  .repa{
    display: none;
  }
  .gomb{
    display: none;
  }


}
@media (min-width: 1400px) {
 .gomb2{
  display: none;
 }
 .doboz2{
  display: none;
 }
 .cumi{
  display: none;
 }

}



.cumi{
  width: 60%;
  margin: auto;
  padding: 10px;
  background:rgb(72, 91, 63);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-transform: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000;
  color:cornsilk;
  font-weight: bold;
  font-style: italic;
}


